<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dynamic Templates</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Welcome to dynamic templates</h1>

    <h2>Multiply 3 * 3 = <%= 3*3 %></h2>
    <h2>A random number between 3 and 12 <%= Math.floor(Math.random() + 10) + 3 %></h2>
  </body>
</html>


